
body {
  font: normal 2em/1.5em "Helvetica Neue", Arial, sans-serif;
  color: #fff;
}

button.btn {
  margin-top: 40px;
  background: #66bb6a;
  border-radius: 4px;
}

.first {
    background-color: #66bb6a;
  }

.second, .fourth {
    background-color: #424242;
  }

.third {
    background-color: #a5d6a7;
  }

.fourth button {
  margin-top: 20px;
}

p {
  margin-bottom: 30px;
}

#fp-nav ul li a span {
  background: #66bb6a;
}

img {
  margin: 0 auto;
}

.cloud {
  max-width: 100%;
}

.cloud2 {
  max-width: 100%;
  max-height: 100%;
  padding-left: 50px;
}